*{
	padding:0px;
	margin:0px;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
    font-family: 'montserrat','sans-serif';
}
dl, ol, ul {
	margin-bottom:o; 
}
/***header_section***/
.header_section{
    background: url('images/banner.png');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
   position: relative;    
}
.overlay{
    position:absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;    
}
.main_menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
 
    transition: .3s;
    z-index:1; 
}

.pdng_tp h1{
    margin-top: 250px; 
    font-family: 'montserrat',sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}
.pdng_tp p{
   font-weight: 600; 
}
#nav.black{
    background:white;
    height:70px;
    width: 100%        
}

.navbar-expand-lg .navbar-nav .nav-link {
	color: #6195ff;
}
.navbar-toggler{
    border-color:#6195ff;
}
/***end_header_section***/
/**service_section Courses_section**/
.section_padding{
    padding: 100px 0px;
}
.txt h2{
    font-size: 40px;
    font-weight: bold;
}
.bdr {
	width: 40px;
	height: 4px;
	background: #6195FF;
	margin: auto;
	margin-bottom: 60px;
}
.box i {
	padding-top: 40px;
	color: #6195FF;
}
.box h2 {
	font-size: 22px;
	font-weight: 700;
	margin: 10px 0px;
}
.box a {
	text-decoration: none;
	display: block;
    padding: 10px 0px 36px 0px;
}
.box{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.box_overlay{
    position: absolute;
    top:0;
    bottom:0;
    left:-100%;
    right:0;
    height: 100%;
    width: 100%;
    transition:.3s;
}
.box:hover .box_overlay{
    background:black;
    width: 100%;
    left:0;
    z-index:-1;
}
.box:hover h2{
    color:white;   
}
.box_one{
    position: relative;
}
.box_one i{
    position: absolute;   
}
.box_one h2 {
	padding-left: 70px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.box_one i {
	position: absolute;
	top: -9px;
	left: 24px;
}
/**end_service_section Courses_section**/
/**slider_section**/
.slider_section{
   background: #fafafa;
}
.brdr_2{
  	width: 40px;
	height: 4px;
	background: #6195FF; 
    margin-bottom: 30px;
}
.slider_left p{
    color: #868f9d;
}
.slider_left i{
    color: #6195ff;
}
.slider_left span{
     color: #868f9d;
}
.slider_left i {
	color: #6195ff;
	font-size: 26px;
	margin-top: 7px;
	margin-right: 5px;
}
/**end_slider_section**/
/**contact_section**/
.box p {
	font-size: 23px;
	font-weight: bold;	margin-top: 15px;
}
.box span {
	color: #868f9d;
	margin-bottom: 60px;
    display: block;
}
.form-control {
	background: #fafafa;
	border: 0px;
	border-radius: 0px;
	font-size: 15px;
	margin-top: 15px;
}
.btn{
    width: 185px;
	height: 50px;
    margin-top: 20px;
    background: #6195ff;
    border: 0px;
	border-radius: 0px;
    font-size: 17px;
}
.btn-primary:hover {
	background: #6195ff;
}
/**end_contact_section**/
/**footer_section**/
.footer_section{
    background: #1c1d21;
}
.footer_center ul li {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin-right: 15px;
    background: #6195ff;
}
.footer_center ul li a{
    color: white;  
}
.footer_center p {
	color: #868f9d;
	margin-bottom: 0;
	margin-top: 40px;
}
@media only screen and (max-width: 600px){
   .pdng_tp h1 {

	font-size: 1.5rem;

} 
}
/**end_footer_section**/